<link rel="stylesheet" href="./tab3.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-background"></div>

  <div class="login-container">
    <ion-avatar class="login-avatar">
      <img alt="Logo" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <h2 class="login-title">Bienvenido</h2>
    <p class="login-subtitle">Por favor, ingresa tus credenciales</p>
  </div>
</ion-content>
