<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of cardData; trackBy: trackById">
  <ion-router-link [routerLink]="['/detalle-noticia', item.id]">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-title>{{item.fecha}}</ion-card-title>
        <ion-card-subtitle>{{item.subtitulo}}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <img src="{{item.imageUrl}}" alt="image">
        <p class="short">{{item.description}}</p>
      </ion-card-content>
    </ion-card>
  </ion-router-link>
</ion-content>