<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card (click)="openModal('1')"> 
    <img alt="God of War" src="../../../assets/noticia/1.png" />
    <ion-card-header>
      <ion-card-title>Imagen 1</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openModal('2')">
    <img alt="God of War" src="../../../assets/noticia/2.png" />
    <ion-card-header>
      <ion-card-title>Imagen 2</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openModal('3')">
    <img alt="God of War" src="../../../assets/noticia/3.png" />
    <ion-card-header>
      <ion-card-title>Imagen 3</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openModal('4')">
    <img alt="God of War" src="../../../assets/noticia/4.png" />
    <ion-card-header>
      <ion-card-title>Imagen 4</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

</ion-content>