<link rel="stylesheet" href="tab2.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let item of noticias;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.titulo}}</ion-card-title>
        <ion-card-title>{{item.fecha}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img [src]="item.imageUrl" alt="image" />
        <p class="short">{{item.description}}</p>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" [routerLink]="['/tabs/detalle-noticia', item.id]">Ver más</ion-button>
  </ng-container>
</ion-content>