<ion-header *ngIf="noticia">
  <ion-toolbar>
    <ion-title>{{ noticia.titulo }}</ion-title>
    <ion-button slot="start" [routerLink]="['/tabs/tab2']"><ion-icon aria-hidden="true" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="noticia">
  <img [src]="noticia.imageUrl" alt="Imagen Noticia"/>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ noticia.titulo }}</ion-card-title>
      <ion-card-subtitle>Publicado el: {{ noticia.fecha }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ noticia.description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" [routerLink]="['/tabs/tab2']">Volver atras</ion-button>
</ion-content>